.user-wrapper {
    font-size: 15px;
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Gap between columns */
    align-items: flex-start;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .user-wrapper section {
    margin-bottom: 40px;
    border-bottom: 0px solid #ccc;
    padding-bottom: 0px;
  }
  
  .user-wrapper section:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .user-wrapper section h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .user-wrapper h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .user-wrapper form {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .user-wrapper label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .user-wrapper input,
  .user-wrapper select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .user-wrapper button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 200px;
  }
  
  .user-wrapper button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles can be added as needed */
  